* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff4f4;
  color: #000000;
}

h1 {
  color:#990404;
  position: absolute;
  left: 65px;
  top: 10px;
}


.desenho-mc {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  top: 10px;
  left: 5px;
}

.img-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.titulo {
  position: absolute;       
  top: 310px;              
  transform: translateX(33%); 
  white-space: pre-line; 
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;         
  z-index: 10;  
  font-family: sans-serif;
  font-size: 55px;
}

.texto1 {

font-family: sans-serif;
font-size: 25px;
white-space: pre-line; 
color: #ffffff;
z-index: 10;

}

.texto2 {


}

.texto3 {


}



.img-fundo {
 width: 100vw;     
height: 850px;     
object-fit: cover; 
display: block;
margin-top: 0px;

}

.img-logo {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 390px;
  opacity: 0.8;
}

.img-retangulo {

 width: 150vw;     
height: 50px;     
object-fit: cover; 
display: block;
margin-top: 25px;


}


.img-trofeu {
width: 250px; 
}

header {
  background: #f8ecec;
  color: #000000;
  padding: 20px;
  text-align: center;
}

nav {
  position: absolute; 
  top: 15px;         
  right: 20px;    
  display: flex;
  gap: 20px; 
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
}

nav a:hover {
  text-decoration: underline;
}