* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff4f4;
  color: #000000;
}

h1 {
  color:#990404;
  position: absolute;
  left: 65px;
  top: 10px;
}


.desenho-mc {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  top: 10px;
  left: 5px;
}

.img-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.titulo {
  position: absolute;       
  top: 310px;              
  transform: translateX(33%); 
  white-space: pre-line; 
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;         
  z-index: 10;  
  font-family: sans-serif;
  font-size: 55px;
}

.texto1 {

  position: absolute;        /* permite posicionar sobre a imagem */
  top: 630px;                /* ajuste vertical: quanto menor, mais alto fica */
  left: 50%;                 /* centraliza horizontalmente */
  transform: translateX(-50%); /* centraliza de verdade */
  font-family: sans-serif;
  font-size: 25px;
  white-space: pre-line; 
  color: #ffffff;
  z-index: 10;               /* garante que fique sobre a imagem */
  text-align: center;        /* centraliza o texto */
  width: 80%;                /* opcional: limitar a largura do texto */
}




.img-fundo {
 width: 100vw;     
height: 850px;     
object-fit: cover; 
display: block;
margin-top: 0px;

}

.img-logo {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 390px;
  opacity: 10a;
}

.img-retangulo {

 width: 150vw;     
height: 50px;     
object-fit: cover; 
display: block;
margin-top: 25px;


}


.img-trofeu {
width: 250px; 
}

header {
  background: #f8ecec;
  color: #000000;
  padding: 20px;
  text-align: center;
}

nav {
  position: absolute; 
  top: 15px;         
  right: 20px;    
  display: flex;
  gap: 20px; 
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
}

nav a:hover {
  text-decoration: underline;
}


.titulo-jurados {
    text-align: center;
    color: #b30000;
    margin-top: 40px;
    font-size: 32px;
}

.cards-jurados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

.card-jurado {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: 0.2s;
}

.card-jurado:hover {
    transform: scale(1.03);
}

.foto-jurado {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.card-jurado h2 {
    margin-top: 15px;
    color: #b30000;
    font-size: 20px;
}

.card-jurado p {
    font-size: 14px;
    color: #555;
    margin: 10px 0 15px;
}

.estrelas {
    color: gold;
    font-size: 22px;
    font-weight: bold;
}

/*DEIXAR ESSA PARTE POR ULTIMO*/

@media (max-width: 768px) {
  .cards-jurados {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .cards-jurados {
    grid-template-columns: 1fr;
  }
}



