* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fdf6f6;
  color: #000000;
}

#main-title {
  position: absolute;
  top: 35px;
  left: 95px;
  color: #990404;
  font-family: 'Poppins', sans-serif;
}

.icon {

width: 90px;

}

.tópicos {

font-family: 'Poppins', sans-serif;
margin-top: -10px;

}


.desenho-mc {
  width: 76px;
  height: auto;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  top: 10px;
  left: 5px;
}

.img-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.titulo {

  position: absolute;       
  top: 135px; 
  margin-top: -20px;             
  transform: none; 
  white-space: pre-line; 
  text-align: left;
  font-weight: bold;
  color: #ffffff;         
  z-index: 10;  
  font-family: sans-serif;
  font-size: 58px; 
  right: 1110px;
  line-height: 1.02 !important;      /* linhas mais próximas, sem esmagar */
  letter-spacing: -0.7px !important; /* letras levemente mais juntas */
  word-spacing: -2px !important;
  font-family: 'Lato', sans-serif;


}

.texto1 {

  position: absolute;
  top: 630px;
  left: 50%;
  transform: translateX(-50%);
  
  font-family: sans-serif;
  font-size: 25px;
  line-height: 1.1;        /* <-- ISSO AQUI deixa mais apertado */
  
  white-space: pre-line;
  color: #ffffff;
  z-index: 10;
  text-align: center;
  width: 80%;

}


.texto2 {
  position: absolute;
  top: 720px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0px;

  font-size: 25px;
  color: black;
  text-decoration: none;

  background-color: white;
  padding: 15px 35px;
  border-radius: 50px;
  border: 4px solid white;

  box-shadow: 0 6px 18px rgba(0,0,0,0.25);

  cursor: pointer;
  white-space: pre-line;
  text-align: center;
  z-index: 10;
  transition: 0.3s ease;
  font-family: 'Poppins', sans-serif !important;
}

.texto2:hover {
  background-color: rgb(192, 20, 8);
  color: white;
  box-shadow: 0 8px 22px rgba(0,0,0,0.35);
  transform: translateX(-50%) scale(1.05);
  font-family: 'Poppins', sans-serif !important;
}

.texto3 {

font-family: 'Poppins', sans-serif ;
color: rgb(206, 164, 26);
margin-top: -35px;
position: absolute;  
text-align: center;
right: 32%;

}

.img-fundo {
 width: 100vw;     
height: 850px;     
object-fit: cover; 
display: block;
margin-top: 0px;

}

.img-logo {
  position: absolute;
  top: 52%;
  left: auto;
  transform: translateY(-50%);
  width: 430px;
  opacity: 10a;
  margin-top: -120px;
  right: 300px;
  left: auto;
}

.img-retangulo {

 width: 150vw;     
height: 50px;     
object-fit: cover; 
display: block;
margin-top: 25px;

}

.masterchef-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.masterchef-container h1 {
    margin-bottom: 30px;
    font-size: 28px;
}

.mc-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.mc-texto {
    width: 45;
    text-align: left;
    font-size: 22px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.mc-premio {
    width: 40%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.mc-premio img {
    width: 400px;
    left: -9px;
    position: relative;
    top: 25px;
}

.mc-premio h3 {
    margin-top: 1px;
    color: #b30000;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;

    position: relative; 
    right: -25px; /* valores negativos empurram PRA DIREITA */
    top: -30px;

}

.mc-premio p {

    font-size: 20px;
    font-family: 'Poppins', sans-serif;

    position: relative; 
    right: -25px; /* valores negativos empurram PRA DIREITA */
    top: -30px;

}

.mc-info {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.mc-info div h2 {
    color: #b30000;
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
}

.mc-info div span {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.titulos {
    text-align: center;
    color: #b30000;
    margin-top: 90px;
    font-size: 35px !important;
    font-family: 'Poppins', sans-serif;
}

header {
  background: #f8ecec;
  color: #000000;
  padding: 20px;
  text-align: center;
}

nav {
  position: absolute; 
  top: 60px;         
  right: 20px;    
  display: flex;
  gap: 20px; 
  margin-top: -9px;
  font-size: 17px;
}

nav a {
    color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;

  display: inline-block; /* ESSENCIAL PARA FUNCIONAR ANIMAÇÃO */
  transition: 0.3s ease;
}

nav a:hover {
 transform: translateY(-3px) scale(1.05);
text-decoration: underline;
    
}


.titulo-jurados {
    text-align: center;
    color: #b30000;
    margin-top: 40px;
    font-size: 35px !important;
    font-family: 'Poppins', sans-serif;
}

.cards-jurados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

.card-jurado {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.card-jurado:hover {
    transform: scale(1.03);
}

.foto-jurado {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.card-jurado h2 {
    margin-top: 15px;
    color: #b30000;
    font-size: 20px;
}

.card-jurado p {
    font-size: 14px;
    color: #555;
    margin: 10px 0 15px;
}

.estrelas {
    color: gold;
    font-size: 22px;
    font-weight: bold;
}


.linha-vermelha {
  width: 120%;
  height: 2px;
  background: #b30000 ;
  margin-top: 100px; 
  margin-bottom: 20px;
  border-radius: 10px;
}

 .titulo-participantes {
    text-align: center;
    color: #b30000;
    margin-top: 40px;
    font-size: 35px !important;
    font-family: 'Poppins', sans-serif;
}
.cards-participantes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
    max-width: 1200px; 
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.card-participantes {
    width: 260px; 
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: 0.2s;
}

.card-participantes:hover {
    transform: scale(1.03);
}

.foto-participantes {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.card-participantes h2 {
    margin-top: 15px;
    color: #b30000;
    font-size: 20px;
}

.card-participantes p {
    font-size: 14px;
    color: #555;
    margin: 10px 0 15px;
}

.titulo-provas {
    text-align: center;
    color: #b30000;
    margin-top: 40px;
    font-size: 35px !important;
    font-family: 'Poppins', sans-serif;
}

.cards-prova {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

.card-prova {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.card-prova:hover {
    transform: scale(1.03);
}

.card-prova img {
    width: 100%;
    height: 180px;      
    object-fit: cover;   
    border-radius: 12px;
    display: block;       
}

.card-prova h2 {
    margin-top: 15px;
    color: #b30000;
    font-size: 20px;
}

.card-prova p {
    font-size: 14px;
    color: #555;
    margin: 10px 0 15px;
}

/* botão q vai volta pro topo */
.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ffffff; 
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
    z-index: 999;
}

.btn-topo img {
    width: 25px;
    height: 25px;
    display: block;
}

.btn-topo:hover {
    transform: scale(1.1);
    background: #ffffff;
}


.titulo-receitas {
    text-align: center;
    color: #b30000;
    margin-top: 40px;
    font-size: 35px !important;
    font-family: 'Poppins', sans-serif;
}

.foto-receita {
    width: 60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

}

.cards-salgados {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards lado a lado */
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto 50px auto; /* espaço abaixo */

    
}

.cards-doces {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cards lado a lado */
    gap: 25px;
    max-width: 900px;
    margin: 0 auto; /* centralizado */
}


.card-receita,
.card-receita2 {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
    
}

.card-receita:hover,
.card-receita2:hover {
    transform: scale(1.05);
    transition: 0.25s ease;
}


/*DEIXAR ESSA PARTE POR ULTIMO*/

@media (max-width: 768px) {
  .cards-jurados {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .cards-jurados {
    grid-template-columns: 1fr;
  }
}
