[1mdiff --cc masterchef.css[m
[1mindex d74df88,3bc58f5..0000000[m
[1m--- a/masterchef.css[m
[1m+++ b/masterchef.css[m
[36m@@@ -98,6 -119,20 +108,18 @@@[m [mmargin-top: -10px[m
    box-shadow: 0 8px 22px rgba(0,0,0,0.35);[m
    transform: translateX(-50%) scale(1.05);[m
  }[m
[32m+ [m
[32m+ .texto3 {[m
[32m+ [m
[32m+ font-family: 'Poppins', sans-serif ;[m
[32m+ color: rgb(206, 164, 26);[m
[32m+ margin-top: -35px;[m
[32m+ position: absolute;  [m
[32m+ text-align: center;[m
[32m+ right: 32%;[m
[32m+ [m
[31m -[m
[32m+ }[m
[32m+ [m
[31m -[m
  .img-fundo {[m
   width: 100vw;     [m
  height: 850px;     [m
